@using Models
@model RaadHetWoordGit.ViewModels.LeaderboardViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/LeaderBoardScripts.js"></script>

<h2>Leaderboards</h2>

<div id="leaderboardcontainer" class="borderbottom">
        <table class="w3-table w3-striped w3-bordered">
            <caption>Gesorteerd op @Model.OrderBy.ToLower()</caption>
            <tr class="w3-green">
                <th scope="col">#</th>
                <th scope="col">Team</th>
                <th scope="col">Score</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">WinLoss</th>
            </tr>
            @for (int i = 0; i < Model.Teams.Count; i++)
            {
                var rank = i + 1;
                <tr>
                    <th scope="row">@rank</th>
                    <td>@Model.Teams[i].Name</td>
                    <td>@Model.Teams[i].Score</td>
                    <td>@Model.Teams[i].Wins</td>
                    <td>@Model.Teams[i].Losses</td>
                    <td>@Model.Teams[i].WinLoss</td>
                </tr>
            }
        </table>
</div>

<div>
    <h4>Sorteer:</h4>
    <ul id="sortmenu">
        @foreach (var _enum in Enum.GetValues(typeof(OrderBy)))
        {
            <li><a asp-controller="Leaderboards" asp-action="Teams" asp-route-orderby="@_enum.ToString()">@_enum.ToString()</a></li>
        }
    </ul>
</div>