@model RaadHetWoordGit.ViewModels.TeamViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/canvasjs.min.js"></script>
<script src="/js/CanvasScripts.js"></script>
<script src="/js/TeamScripts.js"></script>

<h2 class="statscontainertitle">Info over team <b>@Model.Team.Name</b></h2>

<div class="w3-row">
    <div class="w3-col s6">
        <br />
        <p class="statscontainertext">Naam: @Model.Team.Name</p>
        <p class="statscontainertext">Overwinningen: <span id="wins">@Model.Team.Wins</span></p>
        <p class="statscontainertext">Nederlagen: <span id="losses">@Model.Team.Losses</span></p>
        <p class="statscontainertext w3-tooltip">
            Winloss: <span id="winloss">@Model.Team.WinLoss</span> <span class="w3-text">De verhouding tussen het aantal overwinningen en het aantal nederlagen.</span>
        </p>
        <p class="statscontainertext">Score: @Model.Team.Score</p>
        <p class="statscontainertext">Beurten: @Model.Team.Turns</p>
        <p class="statscontainertext padding-bottom-1">Score per beurt: @Model.Team.ScorePerTurn</p>
    </div>
    <div id="chartcontainer" class="w3-col s6"></div>
</div>