@model RaadHetWoordGit.ViewModels.LeaderboardViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/LeaderBoardScripts.min.js"></script>

<h2>Welkom op de site van RaadHetWoord!</h2>
<div class="w3-row">
    <div class="w3-col s12 ">
        <p>
            RaadHetWoord is een spel gebasseerd op het bordspel 30 seconds en het mobiele spel "Guessy Words". Het is gratis, op alle platformen beschikbaar en bevat woordenlijsten afgestemd op jong en oud!
        </p>
        <h6>Spelregels:</h6>
        <p>
            Er zijn twee teams, met ieder minstens twee spelers. Ieder team moet om de beurt een ronde spelen. Één speler van het team mag tijdens de ronde de gegeven woorden zien, waarna hij/zij probeert de teamleden de woorden te laten raden, zonder hierbij het woord zelf, een vertaling of een synoniem te noemen.
        </p>
        <form asp-action="Index" asp-controller="Game">
            <input type="submit" value="Speel het spel!" class="w3-button w3-block w3-green w3-hover-white" />
        </form>
    </div>
</div>
<div class="w3-row">
    <div class="w3-col s12">
        @if (Model.Teams.Count >= 5) { <h3>Top 5 spelers:</h3> }
        else { <h3>Klassementen:</h3> }
        <div id="leaderboardcontainer">
            <table class="w3-table w3-striped w3-bordered">
                <caption class="w3-text-green">Het beste team in deze categorie is @Model.Teams[0].Name!</caption>
                <caption>Gesorteerd op @Model.OrderBy.ToLower()</caption>
                <tr class="w3-green">
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">Score</th>
                    <th scope="col">Wins</th>
                </tr>
                @for (int i = 0; i < Model.Teams.Count; i++)
                {
                    var rank = i + 1;
                    <tr>
                        <th scope="row">@rank</th>
                        <td><a asp-controller="Team" asp-action="Index" asp-route-id="@Model.Teams[i].Id">@Model.Teams[i].Name</a></td>
                        <td>@Model.Teams[i].Score</td>
                        <td>@Model.Teams[i].Wins</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>