@model RaadHetWoordGit.ViewModels.LeaderboardViewModel

<script src="/js/LeaderBoardScripts.min.js"></script>

<table class="w3-table w3-striped w3-bordered">
    <caption class="w3-text-green">Het beste team in deze categorie is @Model.Teams[0].Name!</caption>
    <caption>Gesorteerd op @Model.OrderBy.ToLower()</caption>
    <tr class="w3-green" id="sortmenu">
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col"><a asp-controller="Leaderboards" asp-action="Teams" asp-route-orderby="Score">Score</a></th>
        <th scope="col"><a asp-controller="Leaderboards" asp-action="Teams" asp-route-orderby="Wins">Wins</a></th>
        <th scope="col"><a asp-controller="Leaderboards" asp-action="Teams" asp-route-orderby="WinLoss">WinLoss</a></th>
    </tr>
    @for (int i = 0; i < Model.Teams.Count; i++)
    {
        var rank = i + 1;
        <tr>
            <th scope="row">@rank</th>
            <td><a asp-controller="Team" asp-action="Index" asp-route-id="@Model.Teams[i].Id">@Model.Teams[i].Name</a></td>
            <td>@Model.Teams[i].Score</td>
            <td>@Model.Teams[i].Wins</td>
            <td>@Model.Teams[i].WinLoss</td>
        </tr>
    }
</table>