@model RaadHetWoordGit.ViewModels.GameViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/GameScripts.js"></script>

<!-- Overzicht van teams -->
<div class="row">
    <div class="col-lg-12 text-center">
        <h3>Huidige team: @Model.Game.CurrentRound.Team.Name</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 text-center">
        <h3>@Model.Game.TeamList[0].Name</h3>
        <p id="scoreTeam0">@Model.Game.TeamList[0].Score.ToString()</p>
    </div>
    <div class="col-lg-6 text-center">
        <h3>@Model.Game.TeamList[1].Name</h3>
        <p id="scoreTeam1">@Model.Game.TeamList[1].Score.ToString()</p>
    </div>
</div>
<div class="row">
    <form asp-action="PlayGame" asp-controller="Game">
        <input class="btn btn-success custom" id="btnnextround" type="submit" value="deze knop moet weg"/>
    </form>
</div>

<!-- Overzicht van woorden -->
<div>
    <div class="row" id="wordlistContainer">
        @for (int i = 1; i <= 5; i++)
        {
            <div class="col-lg-2 gameword" id="word @i" onclick="changeScore(event)">@Model.Game.Wordlist.Words[i]</div>
        }
    </div>
</div>