@model RaadHetWoordGit.ViewModels.GameViewModel

<head>
    <script type="text/javascript" src="js/GameScripts.js"></script>
</head>

<!-- Overzicht van teams -->
<div class="row">
    <div class="col-lg-6">
        <p>@Model.Game.TeamList[0].ToString()</p>
    </div>
    <div class="col-lg-6">
        <p>@Model.Game.TeamList[1].ToString()</p>
    </div>
</div>

@if (@Model.WordlistClass == "visible")
{
    <!-- Overzicht van woorden -->
    <div>
        <div class="row" id="wordlistContainer">
            @for (int i = 0; i <= 5; i++)
            {
                <div class="col-lg-2" id="word @i" onclick="changeScore()">@Model.Game.Wordlist.Words[i]</div>
            }
        </div>
    </div>
}