@model RaadHetWoordGit.ViewModels.GameViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/GameScripts.js"></script>

<!-- Overzicht van teams -->
<div class="row">
    <div class="col-lg-6">
        <h3>@Model.Game.TeamList[0].Name</h3>
        <p>@Model.Game.TeamList[0].Score.ToString()</p>
    </div>
    <div class="col-lg-6">
        <h3>@Model.Game.TeamList[1].Name</h3>
        <p>@Model.Game.TeamList[1].Score.ToString()</p>
    </div>
</div>

<!-- Overzicht van woorden -->
<div>
    <div class="row" id="wordlistContainer">
        @for (int i = 1; i <= 5; i++)
        {
            <div class="col-lg-2 gameword" id="word @i" onclick="changeScore(event)">@Model.Game.Wordlist.Words[i]</div>
        }
    </div>
    <!-- Test code -->
    <div class="row">
        <div class="col-lg-2 gameword" id="nextRound" onclick="nextRound()">Volgende ronde</div>
    </div>
    <!-- Test code -->
</div>