@model RaadHetWoordGit.ViewModels.GameViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/GameScripts.js"></script>

<!-- Overzicht van teams -->
<div class="row">
    <div class="col-lg-12 text-center">
        <h3>Huidige team: @Model.Game.CurrentRound.Team.Name</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 text-center">
        <h3>@Model.Game.TeamList[0].Name</h3>
        <p id="scoreTeam0">Score: @Model.Game.TeamList[0].Score.ToString() / @Model.Game.Maxscore</p>
    </div>
    <div class="col-lg-2 text-center">
        <h3>Tijd: <span id="remainingTime" class="text-danger"></span></h3>
    </div>
    <div class="col-lg-5 text-center">
        <h3>@Model.Game.TeamList[1].Name</h3>
        <p id="scoreTeam1">Score: @Model.Game.TeamList[1].Score.ToString() / @Model.Game.Maxscore</p>
    </div>
</div>
<div class="row">
    <form asp-action="ScoreBoard" asp-controller="Game">
        <input class="hidden" id="btnnextround" type="submit" value=""/>
    </form>
</div>

<!-- Overzicht van woorden -->
@for (int i = 1; i <= 5; i++)
    {
        <div class="gameword" id="word @i" onclick="changeScore(event)"><span class="gamewordtext" id="gamewordtext @i">@Model.Game.Wordlist.Words[i]</span></div>
    }
